{% extends "index.html" %}

{% load tags %}

{% block "style" %}
<style>
  .errorlist {
    color: red;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock "style" %}

{% block "header" %}
<header class="sb-page-header">
  <div class="container-fluid">
    <h1>Contact Me</h1>
    <p>Drop me a note!</p>
  </div>
</header>
{% endblock "header" %}

{% block "breadcrumb" %}
<li class="{% active request "^/about/$" %}">Contact me</li>
{% endblock "breadcrumb" %}

{% block "content" %}
<div class="container-fluid">
  <p>I'd welcome your feedback related to this site or GIS in general.  If you'd like to discuss potential job opportunities, either
    part-time or full time, please indicate that in your note.  I also invite you to visit my <a href="http://www.linkedin.com/in/jonburroughs" alt="LinkedIn Profile">LinkedIn profile</a>
    to see if my skills are a match for your project.</p>

  <p>Please use the form below to send me a note.  All fields are required.</p>
  <div id="form">
    <form id="contact" action="{% url "contact" %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First Name:</label>
        <p>{{ form.first_name }}</p>
      </div>

      <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Last Name:</label>
        <p>{{ form.last_name }}</p>
      </div>

      <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">Email Address:</label>
        <p>{{ form.email }}</p>
      </div>

      <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Message:</label>
        <p>{{ form.message }}</p>
      </div>

      <div id="sending" style="display:none;">
        <span id="sending_text">sending...</span>
      </div>

      <p id="sendwrapper"><input type="submit" class="btn btn-primary" value="Send" id="sendbutton"/></p>
    </form>
  </div>
</div>

<div class="modal fade" id="successModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Message Sent</h4>
      </div>
      <div class="modal-body">
        <p>You message has been sent. Thanks for contacting me!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock "content" %}

{% block "script" %}
<script type="text/javascript">
  $(document).ready(function() {
    function block_form() {
      $("#sending").show();
      $('textarea').attr('disabled', 'disabled');
      $('input').attr('disabled', 'disabled');
    }

    function unblock_form() {
      $('#sending').hide();
      $('textarea').removeAttr('disabled');
      $('input').removeAttr('disabled');
      $('.errorlist').remove();
    }

    // prepare Options Object for plugin
    var options = {
      beforeSubmit: function(form, options) {
        // return false to cancel submit
        block_form();
      },
      success: function() {
        unblock_form();
        $('#successModal').modal('show');
      },
      error:  function(resp) {
        unblock_form();
        // render errors in form fields
        var errors = JSON.parse(resp.responseText);
        for (error in errors) {
          var id = '#id_' + error;
          $(id).parent('p').prepend(errors[error]);
        }
      }
    };

    $('#contact').ajaxForm(options);
  });
</script>
{% endblock "script" %}
